# https://www.codeac.io/documentation/pylint-configuration.html

[DESIGN]
max-args=8

[FORMAT]
max-line-length=120

[SIMILARITIES]
min-similarity-lines=6

[VARIABLES]
redefining-builtins-modules=asyncio
